@{
    string todaysDate = DateTime.Now.ToString("yyy-MM-dd");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RazorIntro - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div class="container">
            <a class="brand" asp-area="" asp-page="/Index"><img src="~/images/KTLO.png" alt="Logotype"> KTLO</a>
            <span>Dagens datum är: @todaysDate </span>
        </div>
    </header>
    <div class="container">
        <main class="pb-3">
            <aside>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button> *@
                        <!-- Mobile meny - Hidden on default -->
                        <a href="" onClick=event.preventDefault() id="main-menu-toggle" role="button" aria-label="Toggle Mobile Menu">
                            <svg viewBox="0 0 100 80" width="40" height="40">
                                <rect width="90" height="10" fill="#f7f7f7"></rect>
                                <rect y="30" width="90" height="10" fill="#f7f7f7"></rect>
                                <rect y="60" width="90" height="10" fill="#f7f7f7"></rect>
                            </svg>
                        </a>

                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Start</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/About">Om Sidan</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </aside>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <small>Av Jonathan Laasonen - Kontakta mig via e-post: <a href="mailto:jola1803@student.miun.se">jola1803@student.miun.se</a></small>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
