@{
    string todaysDate = DateTime.Now.ToString("yyy-MM-dd");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RazorIntro - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
</head>
<body>
    <header>
        <div class="container">
            <a class="brand" asp-area="" asp-page="/Index"><img src="~/images/KTLO.png" alt="Logotype"> <span>KTLO</span></a>
            <span class="header-date">Dagens datum är: @todaysDate </span>
        </div>
    </header>
    <div class="container">
        <main class="pb-3">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
                    <div class="container">
                        <a href="" onClick=event.preventDefault() id="main-menu-toggle" role="button" aria-label="Toggle Mobile Menu">
                            <img src="~/images/menu.png" alt="Menu icon" class="menu-icon">
                        </a>

                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Start</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/About">Om Mig</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="social">
            <a href="https://github.com/jona-laa/" target="_blank" class="icon-link" aria-label="GitHub Link"><i class="fab fa-github fa-2x"></i></a>

            <a href="https://www.linkedin.com/in/jonathan-laasonen-974aa617a/" target="_blank" class="icon-link" aria-label="LinkedIn Link"><i class="fab fa-linkedin fa-2x"></i></a> 
        </div>

        <small>Av Jonathan Laasonen<br> Kontakta mig via <a href="mailto:jola1803@student.miun.se">jola1803@student.miun.se</a></small> 
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/puzzle.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
