.page-content {
  padding: 10px 20px;
}

@media screen and (max-width: 812px) {
  .page-content {
    margin: auto;
  }
}

.thicc {
  font-weight: 600;
}

.page-content p {
  max-width: 600px;
}

.about figure {
    max-width: 200px;
    margin: 0;
}

.about figure img {
    width: 100%;
}