@page
@model AboutModel
@{
    ViewData["Title"] = "Om Mig";
}
<div class="container page-content">
    <h1>@ViewData["Title"]</h1>
        <section class="about">
        <h2>Hallå där!</h2>
        <figure>
            <img src="https://avatars3.githubusercontent.com/u/54796213?v=4" alt="En bild på mig">
        </figure>
        <p>Mitt namn är Jonathan. Jag studerar för tillfället webbutveckling på distans via Mitt Universitetet i Sundsvall, men är bosatt i Stockholm.</p>

        <p>Jag tycker om både back-end och front-end utveckling, men ser mig själv mer som en front-end typ. Jag tycker om att använda både kreativitet och logik i mitt arbete, vilket är anledningen att jag fastnade för utveckling från första början.</p>
    </section>
</div>
