@page
@model AboutModel
@{
    ViewData["Title"] = "Om Sidan";
}
<div class="container page-content">
    <h1>@ViewData["Title"]</h1>
        <section class="about">
        <h2>Hi There, I'm Jonathan!</h2>
        <p>I’m currently studying web development at Mid Sweden University, Sundsvall, but I’m based in Stockholm, Sweden.</p>

        <p>I like both back- and front-end development, but see myself as more of a front-end guy. I love being able to use both logic and creativity when building projects, which is the reason I fell in love with development in the first place.</p>
    </section>
</div>
